* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 4000px;
}

.header {
  width: 100%;
  height: 50px;
  background-color: rgba(3, 4, 94, 0.95);
  position: fixed;
  top: 0;
  z-index: 20;
}

.header-icon {
  padding-left: 22px;
  float: left;
  padding-top: 14px;
  color: #00b4d8;
  font-size: 22px;
}

.search-icon {
  position: absolute;
  font-size: 15px;
  top: 18px;
  margin-left: 30px;
}

[type="text"] {
  width: 240px;
  height: 30px;
  margin-top: 10px;
  margin-left: 20px;
  float: left;
  border-radius: 20px;
  border: 1px solid #48cae4;
}
.header-list {
  list-style-type: none;
  float: right;
  margin-right: 50px;
  padding-top: 13px;
}

.header-list li {
  display: inline-block;
  color: white;
  margin-left: 25px;
  text-transform: capitalize;
}

.header-list li a {
  text-decoration: none;
  color: white;
  position: relative;
  padding-bottom: 5px;
}

.header-list li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;

  bottom: 0;
  left: 0;

  background-color: #00b4d8;
  opacity: 0;
}

.header-list li a:hover::after {
  width: 100%;

  opacity: 1;
  transition: 1s;
}

.drop-down {
  width: 170px;
  height: 170px;
  background-color: #03045e;
  position: absolute;
  top: 40px;
  right: 30px;
  border-radius: 5px;
  border: 1px solid #00b4d8;
  text-align: left;
  visibility: hidden;
}

.drop-down-list {
  list-style-type: none;
}
.drop-down-list li {
  padding: 15px;
  text-transform: capitalize;
  color: #48cae4;
}
.drop-down-list li a {
  text-decoration: none;
  color: #48cae4;
  position: relative;
}

.header-list li:hover .drop-down {
  visibility: visible;
}

.drop-down-list li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;

  bottom: 0;
  left: 0;

  background-color: #00b4d8;
  opacity: 0;
}

.drop-down-list li a:hover::after {
  width: 100%;

  opacity: 1;
  transition: 1s;
}

.home-parent {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../images/car.jpg);
  background-size: cover;
}

.home-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(3, 4, 94, 0.65);
}

.home-content {
  color: white;
  width: 60%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-title1 {
  font-size: 65px;
  text-transform: uppercase;
}

.home-p {
  color: #ade8f4;
  margin: 15px 0;
  font-size: 18px;
  letter-spacing: 2px;
}

.home-btn {
  width: 130px;
  padding: 15px 0;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  text-transform: capitalize;
}

.home-btn2 {
  background-color: #00b4d8;
  color: white;
}

.home-btn:hover {
  opacity: 0.4;
}

.welcome {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.welcome-title1 {
  text-align: center;
  font-size: 40px;
  padding-top: 100px;
  text-transform: capitalize;
}

.welcome-line {
  width: 100px;
  height: 3px;
  margin: auto;
  margin-top: 15px;
  background-color: #00b4d8;
}

.welcome-container {
  width: 80%;

  margin-top: 100px;
}
.welcome-parent {
  overflow: auto;
}

.welcome-content {
  position: relative;
  float: left;
  width: 320px;
  height: 240px;

  text-align: center;

  border-radius: 5px;
  border: 1px solid #90e0ef;
}
.www {
  margin-left: 180px;
}
.ww {
  margin: 0 100px;
}

.icon {
  font-size: 30px;
  padding-top: 20px;
  color: #00b4d8;
}

.welcome-info-title1 {
  font-size: 25px;
  text-transform: capitalize;
  padding: 20px 0px;
}

.welcome-info-p {
  color: rgb(109, 108, 108);
}

.welcome-content a {
  text-decoration: none;
  color: #00b4d8;
  font-size: 18px;
  padding: 20px 0;
  display: inline-block;
}

.welcome-content:hover a {
  color: #0096c7;
}

.welcome-content:hover .welcome-info-title1 {
  color: #48cae4;
}
.welcome-content:hover .welcome-info-p {
  color: black;
}

.welcome-content:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;

  top: 0;
  left: 0;

  background-color: rgba(0, 180, 216, 0.15);
  opacity: 0.3;

  transition: 1s;
}

.welcome-content:hover::after {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.welcome-content:hover::after .welcome-info-title1 {
  color: white;
}

.featured {
  width: 100%;
  height: 100vh;
  background-color: #caf0f8;
  overflow: auto;
}

.featuredworks-title1 {
  text-align: center;
  font-size: 40px;
  padding-top: 40px;
  text-transform: capitalize;
}

.featuredworks-line {
  width: 100px;
  height: 3px;
  margin: auto;
  margin-top: 8px;
  background-color: #00b4d8;
}

.featuredworks-content {
  margin-right: 30px;
  position: relative;
  float: left;
  width: 20%;

  margin-top: 50px;
}

.ph3 {
  margin-top: 25px;
}

.ph4 {
  margin-left: 270px;
}

.featuredworks-content img {
  width: 305px;
  height: 200px;
}

.featuredworks-info {
  position: absolute;
  background-color: rgba(3, 4, 94, 0.75);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  color: white;

  visibility: hidden;
}

.featuredworks-content:hover .featuredworks-info {
  visibility: visible;
  opacity: 1;
}

.featuredworks-oo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.featuredworks-content-title {
  text-transform: uppercase;
  font-size: 25px;
  padding: 30px 0px;
  color: #48cae4;
}

.featuredworks-content-p {
  color: white;
  padding-bottom: 20px;
}

.ii {
  width: 40px;
  height: 30px;
  color: #03045e;
  background-color: #48cae4;
  text-align: center;
  font-size: 20px;

  border-radius: 5px;
}

.featured-icons a i {
  line-height: 30px;
}

.offer {
  width: 100%;
  height: 100vh;
}

.offer-title1 {
  text-align: center;
  font-size: 40px;
  padding-top: 70px;
  text-transform: capitalize;
}

.offer-line {
  width: 100px;
  height: 3px;
  margin: auto;
  margin-top: 8px;
  background-color: #00b4d8;
}

.offer-container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.offer-parent {
  margin-top: -10px;
  overflow: auto;
}
.offer-content {
  float: left;
  width: 30%;

  margin-left: 23px;
  margin-bottom: 50px;
  position: relative;
}

.offer-content-item {
  width: 310px;
  height: 200px;
  border: 1px solid #90e0ef;
  padding: 30px 14px;
  border-radius: 10px;
}

.off {
  margin: 0px 3%;
}
.offer-content-i {
  float: left;
  margin-right: 7px;
  height: 150px;
}

.offer-i {
  font-size: 30px;

  color: #00b4d8;
}

.offer-content-title {
  font-size: 25px;
  text-transform: capitalize;
}

.offer-content-p {
  color: rgb(170, 165, 165);
  padding-top: 8px;
}

.offer-content:hover .offer-content-title {
  color: #0096c7;
}
.offer-content:hover .offer-content-p {
  color: black;
}

.offer-content:hover .offer-i {
  color: #023e8a;
  font-weight: 900;
}

.offer-content-item::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;

  top: 0;
  left: 0;

  background-color: rgba(0, 180, 216, 0.12);
  opacity: 0;
  border-radius: 10px;
  z-index: -1;
  transition: 1s;
}
.offer-content-item:hover::after {
  width: 85%;
  height: 100%;
  opacity: 0.7;
}

.choose-container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.choose-content {
  padding-top: 50px;
  overflow: auto;
  margin-top: 80px;
  height: 100vh;
}

.choose-info {
  float: left;
  padding: 20px;
  width: 50%;
}

.choose-info-head {
  padding-top: 20px;
}
.choose-info-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.choose-info-p {
  color: rgb(178, 178, 180);
  padding-top: 30px;
}

.choose-info-list {
  padding: 20px 0px;
}

.choose-info-ul {
  list-style-type: none;
  padding: 10px 0;
}
.choose-info-ul li {
  padding: 10px 0;
  color: rgb(145, 142, 142);
}

.check {
  color: #00b4d8;
  padding-right: 5px;
}

.choose-photo {
  float: left;
  width: 50%;
  padding-left: 170px;
}

.choose-photo img {
  width: 350px;
  height: 450px;
}

.choose-photo-list {
  list-style-type: none;
  text-align: center;
  margin-right: 100px;
}
.choose-photo-list li {
  margin: 5px 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  background-color: rgb(174, 174, 175);
}

.choose-photo-list li:hover {
  background-color: #00b4d8;
}

.choose-photo-list li.lili {
  background-color: #00b4d8;
}

.awards {
  width: 100%;
  height: 400px;
  background-image: url(../images/back1.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.awards-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(3, 4, 94, 0.8);
}

.awards-container {
  width: 80%;
  margin: auto;
}

.awards-parent {
  overflow: auto;
  padding-top: 150px;
}

.awards-info {
  float: left;
  width: 25%;
  text-align: center;
}

.awards-info i {
  font-size: 45px;
  color: #48cae4;
}

.awards-info-title {
  font-size: 25px;
  color: white;
  padding-top: 20px;
}

.awards-info-p {
  color: #ade8f4;
}

.pricing {
  width: 100%;
  height: 100vh;
}

.pricing-title {
  text-align: center;
  margin: auto;
  font-size: 40px;
  padding-top: 100px;
}

.pricing-line {
  width: 100px;
  height: 3px;
  margin: auto;
  margin-top: 8px;
  background-color: #00b4d8;
}

.pricing-container {
  width: 75%;
  margin: auto;
  padding-top: 50px;
}

.pricing-parent {
  width: 100%;
  overflow: auto;
}

.pricing-info {
  float: left;
  width: 30%;
  height: 400px;
  text-align: center;
  border: 1px solid #90e0ef;
  border-radius: 10px;

  padding-top: 30px;
  position: relative;
}

.pp {
  margin: 0 5%;
}
.pricing-info-title {
  text-transform: uppercase;
  padding-bottom: 15px;
}

.pricing-info-price {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #00b4d8;
  margin: auto;
  text-align: center;
}

.pricing-info-outer {
  padding-top: 20px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 900;
  color: #0096c7;
}

.pppp {
  padding-top: 30px;
}

.pricing-info-p {
  text-transform: capitalize;
  padding-bottom: 20px;
}

.pricing-btn {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 15px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 20px;
  background-color: #00b4d8;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.pricing-btn:hover {
  opacity: 0.4;
}

.pricing-info:hover .pricing-info-title {
  color: #0096c7;
}

.pricing-info:hover .pricing-info-price {
  border: 2px solid #023e8a;
}

.pricing-info:hover .pricing-info-outer {
  color: #023e8a;
}

.pricing-info::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;

  background-color: rgba(0, 180, 216, 0.12);
  opacity: 0;
  z-index: -1;
}

.pricing-info:hover::after {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: 1s;
}

/* ====== WORKER SECTION - متظبط ====== */
.worker {
  width: 100%;
  height: 400px;
  background-image: url(../images/back2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 150px;
}

.worker-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(3, 4, 94, 0.85);
}

.worker-container {
  width: 80%;
  margin: auto;
}

.worker-parent {
  width: 90%;
  height: 100%;
  overflow: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.worker-info {
  width: 45%;
  height: auto;
  float: left;
  margin: 0 2.5%;
  text-align: center;
}

.worker-info-details {
  line-height: 1.3;
  text-align: center;
  position: relative;
  padding-top: 20px;
}

.worker-info-details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: auto;
  top: auto;
  border: 3px solid #48cae4;
  margin-bottom: 15px;
}

.worker-info-title {
  text-transform: capitalize;
  color: white;
  font-size: 26px;
  padding-right: 0;
  padding: 0;
  margin-top: 10px;
}

.worker-span-info {
  text-transform: capitalize;
  color: #48cae4;
  font-size: 18px;
  padding-right: 0;
  display: block;
  margin-top: 5px;
}
.work1 {
  padding-right: 0;
}
.work2 {
  padding-right: 0;
}

.worker-info-p {
  padding-top: 15px;
  text-transform: capitalize;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 350px;
  color: #ade8f4;
  font-size: 14px;
}

.team {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.team-title1 {
  text-align: center;
  font-size: 40px;
  margin-top: 90px;
  text-transform: capitalize;
  padding-top: 40px;
}

.team-line {
  width: 100px;
  height: 3px;
  margin: auto;
  margin-top: 8px;
  background-color: #00b4d8;
}

.team-container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.team-parent {
  overflow: auto;
}

.team-items {
  border-radius: 10px;
  float: left;
  background-color: #caf0f8;
  width: 30%;
  padding: 18px 14px;
  text-align: center;
  position: relative;
}

.team-items::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;

  top: 0;
  left: 0;
  background-color: rgba(0, 180, 216, 0.2);
  opacity: 0;
}

.team-items:hover::after {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: 1s;
}
.item2 {
  margin: 0px 5%;
}

.team-image {
  width: 90%;

  margin: auto;
  position: relative;
}

.team-image img {
  width: 100%;
  height: 200px;
}

.team-icons {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: #03045e;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
}

.team-items:hover .team-icons {
  visibility: visible;
  opacity: 0.5;
}

.team-icons a {
  display: block;

  width: 40px;
  height: 40px;
  background-color: #00b4d8;
  margin-left: auto;
}

.team-icons a i {
  line-height: 40px;
  color: white;
}

.team-info-title {
  text-transform: capitalize;
  padding: 10px 0px;
}

.team-info-p {
  text-transform: uppercase;
  color: rgb(90, 88, 88);
}

.team-items:hover .team-info-title {
  color: white;
}
.team-items:hover .team-info-p {
  color: #00b4d8;
}

.news {
  width: 100%;
  height: 100vh;
}

.news-title {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  text-transform: capitalize;
  padding-top: 60px;
}

.news-line {
  width: 100px;
  height: 3px;
  margin: auto;
  margin-top: 8px;
  background-color: #00b4d8;
}

.news-container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.news-parent {
  overflow: auto;
}

.news-content {
  float: left;
  width: 30%;
  height: 500px;
  text-align: center;
  position: relative;
  border: 1px solid #90e0ef;
  border-radius: 10px;
}

.nn {
  margin: 0 5%;
}

.news-photo img {
  margin-top: 20px;
  border-radius: 10px;
}

.news-i {
  list-style-type: none;
  margin-top: 20px;
}

.news-i li {
  display: inline-block;
  margin-left: 20px;
}

.news-i li a {
  color: #00b4d8;
}

.nnnn {
  margin-right: 6px;
}

.news-icon-title {
  margin-top: 10px;
  font-size: 20px;
  text-transform: capitalize;
}

.news-icon-p {
  color: rgb(90, 88, 88);
  margin-top: 18px;
  margin-bottom: 22px;
  line-height: 1.2;
}

.news-link {
  text-decoration: none;
  color: #00b4d8;
}

.news-content:hover .news-i {
  color: #023e8a;
}

.news-content:hover .news-icon-title {
  color: #48cae4;
}

.news-content:hover .news-icon-p {
  color: #023e8a;
}

.news-content::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 180, 216, 0.15);
  z-index: -1;
  opacity: 0;
}

.news-content:hover::after {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: 1s;
}

.foots {
  width: 100%;

  background-color: rgba(13, 13, 56, 0.95);
  margin-top: 100px;
  padding-top: 30px;
}

.foots-container {
  width: 50%;
  margin: auto;
  height: 350px;
  text-align: center;
}

.foots-photo img {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}

.foots-links {
  margin-top: 30px;
}

.foots-links ul {
  list-style-type: none;
}

.foots-links ul li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  background-color: #023e8a;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

.foots-links ul li a {
  color: #48cae4;
}

.foots-links ul li:hover {
  background-color: #00b4d8;
  transition: 0.7s;
}

.foots-links ul li:hover a {
  color: white;
}

.foots-p {
  padding-top: 10px;
  color: #90e0ef;
  text-transform: uppercase;
  font-size: 15px;
}
